/* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 21, ../sass/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 944 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(7.458%, rgba(100, 100, 225, 0.25)), color-stop(7.458%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(17.458%, rgba(100, 100, 225, 0.25)), color-stop(17.458%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(27.458%, rgba(100, 100, 225, 0.25)), color-stop(27.458%, rgba(0, 0, 0, 0)), color-stop(30.0%, rgba(0, 0, 0, 0)), color-stop(30.0%, rgba(100, 100, 225, 0.25)), color-stop(37.458%, rgba(100, 100, 225, 0.25)), color-stop(37.458%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(47.458%, rgba(100, 100, 225, 0.25)), color-stop(47.458%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(57.458%, rgba(100, 100, 225, 0.25)), color-stop(57.458%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60.0%, rgba(100, 100, 225, 0.25)), color-stop(67.458%, rgba(100, 100, 225, 0.25)), color-stop(67.458%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(77.458%, rgba(100, 100, 225, 0.25)), color-stop(77.458%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(87.458%, rgba(100, 100, 225, 0.25)), color-stop(87.458%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(97.458%, rgba(100, 100, 225, 0.25)), color-stop(97.458%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 70.4px, rgba(0, 0, 0, 0) 70.4px, rgba(0, 0, 0, 0) 94.4px, rgba(100, 100, 225, 0.25) 94.4px, rgba(100, 100, 225, 0.25) 164.8px, rgba(0, 0, 0, 0) 164.8px, rgba(0, 0, 0, 0) 188.8px, rgba(100, 100, 225, 0.25) 188.8px, rgba(100, 100, 225, 0.25) 259.2px, rgba(0, 0, 0, 0) 259.2px, rgba(0, 0, 0, 0) 283.2px, rgba(100, 100, 225, 0.25) 283.2px, rgba(100, 100, 225, 0.25) 353.6px, rgba(0, 0, 0, 0) 353.6px, rgba(0, 0, 0, 0) 377.6px, rgba(100, 100, 225, 0.25) 377.6px, rgba(100, 100, 225, 0.25) 448px, rgba(0, 0, 0, 0) 448px, rgba(0, 0, 0, 0) 472px, rgba(100, 100, 225, 0.25) 472px, rgba(100, 100, 225, 0.25) 542.4px, rgba(0, 0, 0, 0) 542.4px, rgba(0, 0, 0, 0) 566.4px, rgba(100, 100, 225, 0.25) 566.4px, rgba(100, 100, 225, 0.25) 636.8px, rgba(0, 0, 0, 0) 636.8px, rgba(0, 0, 0, 0) 660.8px, rgba(100, 100, 225, 0.25) 660.8px, rgba(100, 100, 225, 0.25) 731.2px, rgba(0, 0, 0, 0) 731.2px, rgba(0, 0, 0, 0) 755.2px, rgba(100, 100, 225, 0.25) 755.2px, rgba(100, 100, 225, 0.25) 825.6px, rgba(0, 0, 0, 0) 825.6px, rgba(0, 0, 0, 0) 849.6px, rgba(100, 100, 225, 0.25) 849.6px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 944px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 70.4px, rgba(0, 0, 0, 0) 70.4px, rgba(0, 0, 0, 0) 94.4px, rgba(100, 100, 225, 0.25) 94.4px, rgba(100, 100, 225, 0.25) 164.8px, rgba(0, 0, 0, 0) 164.8px, rgba(0, 0, 0, 0) 188.8px, rgba(100, 100, 225, 0.25) 188.8px, rgba(100, 100, 225, 0.25) 259.2px, rgba(0, 0, 0, 0) 259.2px, rgba(0, 0, 0, 0) 283.2px, rgba(100, 100, 225, 0.25) 283.2px, rgba(100, 100, 225, 0.25) 353.6px, rgba(0, 0, 0, 0) 353.6px, rgba(0, 0, 0, 0) 377.6px, rgba(100, 100, 225, 0.25) 377.6px, rgba(100, 100, 225, 0.25) 448px, rgba(0, 0, 0, 0) 448px, rgba(0, 0, 0, 0) 472px, rgba(100, 100, 225, 0.25) 472px, rgba(100, 100, 225, 0.25) 542.4px, rgba(0, 0, 0, 0) 542.4px, rgba(0, 0, 0, 0) 566.4px, rgba(100, 100, 225, 0.25) 566.4px, rgba(100, 100, 225, 0.25) 636.8px, rgba(0, 0, 0, 0) 636.8px, rgba(0, 0, 0, 0) 660.8px, rgba(100, 100, 225, 0.25) 660.8px, rgba(100, 100, 225, 0.25) 731.2px, rgba(0, 0, 0, 0) 731.2px, rgba(0, 0, 0, 0) 755.2px, rgba(100, 100, 225, 0.25) 755.2px, rgba(100, 100, 225, 0.25) 825.6px, rgba(0, 0, 0, 0) 825.6px, rgba(0, 0, 0, 0) 849.6px, rgba(100, 100, 225, 0.25) 849.6px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 944px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 70.4px, rgba(0, 0, 0, 0) 70.4px, rgba(0, 0, 0, 0) 94.4px, rgba(100, 100, 225, 0.25) 94.4px, rgba(100, 100, 225, 0.25) 164.8px, rgba(0, 0, 0, 0) 164.8px, rgba(0, 0, 0, 0) 188.8px, rgba(100, 100, 225, 0.25) 188.8px, rgba(100, 100, 225, 0.25) 259.2px, rgba(0, 0, 0, 0) 259.2px, rgba(0, 0, 0, 0) 283.2px, rgba(100, 100, 225, 0.25) 283.2px, rgba(100, 100, 225, 0.25) 353.6px, rgba(0, 0, 0, 0) 353.6px, rgba(0, 0, 0, 0) 377.6px, rgba(100, 100, 225, 0.25) 377.6px, rgba(100, 100, 225, 0.25) 448px, rgba(0, 0, 0, 0) 448px, rgba(0, 0, 0, 0) 472px, rgba(100, 100, 225, 0.25) 472px, rgba(100, 100, 225, 0.25) 542.4px, rgba(0, 0, 0, 0) 542.4px, rgba(0, 0, 0, 0) 566.4px, rgba(100, 100, 225, 0.25) 566.4px, rgba(100, 100, 225, 0.25) 636.8px, rgba(0, 0, 0, 0) 636.8px, rgba(0, 0, 0, 0) 660.8px, rgba(100, 100, 225, 0.25) 660.8px, rgba(100, 100, 225, 0.25) 731.2px, rgba(0, 0, 0, 0) 731.2px, rgba(0, 0, 0, 0) 755.2px, rgba(100, 100, 225, 0.25) 755.2px, rgba(100, 100, 225, 0.25) 825.6px, rgba(0, 0, 0, 0) 825.6px, rgba(0, 0, 0, 0) 849.6px, rgba(100, 100, 225, 0.25) 849.6px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 944px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 70.4px, rgba(0, 0, 0, 0) 70.4px, rgba(0, 0, 0, 0) 94.4px, rgba(100, 100, 225, 0.25) 94.4px, rgba(100, 100, 225, 0.25) 164.8px, rgba(0, 0, 0, 0) 164.8px, rgba(0, 0, 0, 0) 188.8px, rgba(100, 100, 225, 0.25) 188.8px, rgba(100, 100, 225, 0.25) 259.2px, rgba(0, 0, 0, 0) 259.2px, rgba(0, 0, 0, 0) 283.2px, rgba(100, 100, 225, 0.25) 283.2px, rgba(100, 100, 225, 0.25) 353.6px, rgba(0, 0, 0, 0) 353.6px, rgba(0, 0, 0, 0) 377.6px, rgba(100, 100, 225, 0.25) 377.6px, rgba(100, 100, 225, 0.25) 448px, rgba(0, 0, 0, 0) 448px, rgba(0, 0, 0, 0) 472px, rgba(100, 100, 225, 0.25) 472px, rgba(100, 100, 225, 0.25) 542.4px, rgba(0, 0, 0, 0) 542.4px, rgba(0, 0, 0, 0) 566.4px, rgba(100, 100, 225, 0.25) 566.4px, rgba(100, 100, 225, 0.25) 636.8px, rgba(0, 0, 0, 0) 636.8px, rgba(0, 0, 0, 0) 660.8px, rgba(100, 100, 225, 0.25) 660.8px, rgba(100, 100, 225, 0.25) 731.2px, rgba(0, 0, 0, 0) 731.2px, rgba(0, 0, 0, 0) 755.2px, rgba(100, 100, 225, 0.25) 755.2px, rgba(100, 100, 225, 0.25) 825.6px, rgba(0, 0, 0, 0) 825.6px, rgba(0, 0, 0, 0) 849.6px, rgba(100, 100, 225, 0.25) 849.6px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 944px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
/* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 29, ../sass/screen.sass */
.container {
  width: 920px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  min-height: 500px;
  padding-top: 100px;
}
/* line 35, ../sass/screen.sass */
.container .title {
  color: #cccccc;
  font-size: 7em;
  font-weight: bold;
  line-height: 0.6em;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
/* line 45, ../sass/screen.sass */
.container .sub-title {
  color: #cccccc;
  font-size: 4em;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* line 53, ../sass/screen.sass */
.progress-bar {
  box-sizing: border-box;
  border: 2px solid #666666;
  display: inline;
  float: left;
  margin-right: 0;
  width: 920px;
  height: 300px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .progress-bar {
  overflow-x: hidden;
}
/* line 62, ../sass/screen.sass */
.progress-bar .controls {
  height: 25px;
  margin: 10px;
  z-index: 2;
}
/* line 73, ../sass/screen.sass */
.progress-bar .progress-bar-inside {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #84a5c2), color-stop(100%, #37648c));
  background: -webkit-linear-gradient(top, #84a5c2, #37648c);
  background: -moz-linear-gradient(top, #84a5c2, #37648c);
  background: -o-linear-gradient(top, #84a5c2, #37648c);
  background: linear-gradient(top, #84a5c2, #37648c);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 84, ../sass/screen.sass */
.progress-bar .timer-seconds {
  display: inline;
  float: left;
  margin-right: 0;
  width: 920px;
  color: black;
  font-size: 10em;
  height: 1em;
  left: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  margin-left: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 1.5em;
  z-index: 2;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .progress-bar .timer-seconds {
  overflow-x: hidden;
}
/* line 99, ../sass/screen.sass */
.progress-bar .songUpload {
  position: absolute;
  bottom: 0px;
  margin: 10px;
  width: 90px;
  z-index: 2;
}

/* line 106, ../sass/screen.sass */
.club-number, .current-song {
  color: #666666;
  font-size: 2em;
}

/* line 110, ../sass/screen.sass */
.club-number {
  float: left;
}

/* line 113, ../sass/screen.sass */
.current-song {
  float: right;
}
